<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @tour.station %>
</p>

<p>
  <strong>User:</strong>
  <%= @tour.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
